[Unit]
Description=Node_Exporter
After=network.target

[Service]
ExecStart=/var/node_exporter-1.4.0-rc.0.linux-amd64/node_exporter
WorkingDirectory=/var/node_exporter-1.4.0-rc.0.linux-amd64
RestartSec=1s
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
